* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(238, 149, 149);
  }
  
  body {
    padding: 60px;
  }
  
  input {
    background-color: rgb(212, 147, 147);
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: rgb(206, 182, 182);
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
  }
  
  h2 {
    font-size: 1.5rem;
    
  }
  
  h3 {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center ;
  }
  
  .card {
    align-content: center;
    align-items: center;
    background-color: rgb(161, 87, 87);
    border-radius: 20px;
    box-shadow: 0px 3px 5px rgba(190, 175, 175, 0);
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: stretch;
    margin-bottom: 20px;
    margin-right: 100px;
    overflow: hidden;
  }
  
  .card p {
    background-color: rgb(238, 228, 228);
    flex: 1;
    font-size: 1rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }

  